@mixin declare-font($font-family, $font-filename, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: $font-weight;
    font-style: $font-style;
    src: url('../fonts/#{$font-filename}.eot');
    src: url('../fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'), url('../fonts/#{$font-filename}.woff') format('woff');
  }
}

@include declare-font('heebo', 'heebo/heebo-black', 900);
@include declare-font('heebo', 'heebo/heebo-bold', 700);
@include declare-font('heebo', 'heebo/heebo-extrabold', 800);
@include declare-font('heebo', 'heebo/heebo-regular', 400);
