@media (max-width: 992px) {
  header {
    .row_1380 {
      .apply_region {
        h4, span {
          font-size: 16px;
        }
      }
    }
  }
  section#banner {
    padding-top: 60px;
    .row_1380 {
      .main_title {
        max-width: 100%;
        h1 {
          font-size: 53px;
          line-height: 55px;
          margin-bottom: 22px;
        }
      }
    }
  }
  #banner {
    .state_marks {
      .marks {
        .row_1140 {
          div.mark {
            margin-bottom: 30px;
            @include flex-basis(30%);
            p {
              font-size: 16px;
              margin-bottom: 0;
            }
            span {
              width: 100%;
            }
          }
        }
      }
    }
  }
  section#get_recognition {
    padding: 60px 0;
    .row_1140 {
      .recognition_items {
        .item {
          @include flex-basis(40%);
          margin-left: 40px;
          h3 {
            font-size: 22px;
            &:before {
              top: 4px;
              font-size: 23px;
            }
          }
        }
      }
    }
  }
  #exclusive_benefits {
    .row_1280 {
      div.wrapper {
        @include flex-basis(50%);
        h2 {
          font-size: 41px;
        }
      }
    }
  }
  #get_details {
    div.row_1280 {
      .details_title,
      .details_link {
        @include flex-basis(100%);
      }
      .details_title {
        margin-bottom: 20px;
      }
      .details_link {
        a {
          padding: 20px;
          font-size: 30px;
        }
      }
    }
  }
  #important_date {
    .row_1280 {
      h2 {
        font-size: 40px;
      }

      .dates {
        .date {
          @include flex-basis(45%);
          margin-bottom: 40px;

          h4 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  #apply_now {
    .row_1380 {
      .apply_links {
        @include justify-content(space-between);
        a {
          @include justify-content(flex-start);
          @include flex-basis(35%);
          font-size: 30px;
        }
      }
    }
  }
}




@media (max-width: 768px) {
  #banner {
    .state_marks {
      .marks {
        div.row_1140 {
          @include justify-content(space-around);
          div.mark {
            @include flex-basis(43%);
            margin-right: 20px;
          }
        }
      }
    }
  }
  #get_recognition {
    .row_1140 {
      h2 {
        margin-bottom: 50px;
      }
      .recognition_items {
        div.item {
          margin-bottom: 26px;
          @include flex-basis(100%);
          h3 {
            font-size: 24px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  section#exclusive_benefits {
    padding: 45px 0;
    div.row_1280 {
      .exclusive_image {
        margin-bottom: 15px;
      }
      .exclusive_text {
        h2 {
          font-size: 39px;
          line-height: 45px;
          margin-bottom: 0;
        }
      }
      div.wrapper {
        @include flex-basis(100%);
      }
    }
  }
  section#important_date {
    padding: 60px 0;
    .row_1280 {
      .dates {
        div.date {
          @include flex-basis(100%);
        }
      }
    }
  }
  #apply_now {
    .row_1380 {
      h2 {
        font-size: 54px;
      }
      div.apply_links {
        a {
          font-size: 27px;
          @include flex-basis(45%);
        }
      }
    }
  }
}
@media (max-width: 620px) {
  #apply_now {
    div.row_1380 {
      h2 {
        font-size: 54px;
      }
      div.apply_links {
        a {
          font-size: 27px;
          @include flex-basis(100%);
        }
      }
    }
  }
}

@media (max-width: 380px) {
  section#get_details {
    padding: 45px 10px;
    .row_1280 {
      div.details_title {
        margin-bottom: 13px;
        h4 {
          font-size: 22px;
          line-height: 30px;
        }
      }
      div.details_link {
        margin-bottom: 13px;
        a {
          font-size: 34px;
          padding: 20px 14px;
        }
      }
    }
  }
  section#important_date {
    div.row_1280 {
      width: 94%;
    }
  }
  section#apply_now {
    padding: 60px 0;
    div.row_1380 {
      width: 92%;
      h2 {
        margin-bottom: 20px;
        text-align: left;
      }
      div.apply_links {
        a {
          margin-bottom: 30px;
        }
      }
    }
  }
  #banner {
    .state_marks {
      .marks {
        div.row_1140 {
          div.mark {
            margin-bottom: 5px;
            a {
              img {
                margin-bottom: 20px;
              }
              &:after {
                display: none;
              }
              p {
                font-size: 18px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  footer {
    div.copyright {
      padding: 30px 0 ;
    }
  }
}